USE [master]
GO
/****** Object:  Database [RACAS]    Script Date: 7/2/2025 11:23:52 PM ******/
CREATE DATABASE [RACAS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RACAS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\RACAS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RACAS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\RACAS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RACAS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RACAS]
GO
/****** Object:  Table [dbo].[Branches]    Script Date: 7/2/2025 11:23:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branches](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[BranchCode] [nvarchar](255) NOT NULL,
	[BranchName] [nvarchar](255) NOT NULL,
	[CountryId] [bigint] NOT NULL,
	[Division] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Branch] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CausedBy]    Script Date: 7/2/2025 11:23:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CausedBy](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[Causes] [nvarchar](255) NOT NULL,
	[ObjektNr] [bigint] NOT NULL,
 CONSTRAINT [PK_CausedBy] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 7/2/2025 11:23:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CountryCode] [nvarchar](50) NOT NULL,
	[CountryName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Descriptions]    Script Date: 7/2/2025 11:23:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Descriptions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
	[ObjektNr] [bigint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 7/2/2025 11:23:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[Id] [bigint] NOT NULL,
	[LogDescription] [nvarchar](255) NOT NULL,
	[TargetGroup] [bigint] NOT NULL,
	[MainLedgerId] [bigint] NOT NULL,
	[LogType] [nvarchar](50) NULL,
	[LogDateTime] [datetime] NULL,
	[LogByUserId] [bigint] NULL,
 CONSTRAINT [PK_Description] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MainLedger]    Script Date: 7/2/2025 11:23:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MainLedger](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ContractNumber] [nvarchar](50) NOT NULL,
	[PartnerId] [bigint] NOT NULL,
	[UserId] [bigint] NOT NULL,
	[BranchId] [bigint] NOT NULL,
	[CausedById] [bigint] NOT NULL,
	[DescriptionId] [bigint] NOT NULL,
	[Comment] [nvarchar](2000) NOT NULL,
	[EntryDate] [datetime] NOT NULL,
	[CostIncuredDate] [date] NOT NULL,
	[InvoiceNumber] [nvarchar](50) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[OrderedById] [bigint] NOT NULL,
	[IsSaved] [bit] NOT NULL,
	[IsSubmitted] [bit] NOT NULL,
	[SubmittedBy] [bigint] NOT NULL,
	[SubmittedDate] [datetime] NOT NULL,
	[IsControlCheck] [bit] NOT NULL,
	[ControlCheckBy] [bigint] NOT NULL,
	[ControlCheckDate] [datetime] NOT NULL,
	[PaymentApprovalBy] [bigint] NOT NULL,
	[PaymentApprovalDate] [datetime] NOT NULL,
	[PaymentType] [varchar](20) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[ModifiedBy] [bigint] NOT NULL,
	[RecordStatus] [varchar](100) NOT NULL,
	[IsApproved] [bit] NOT NULL,
	[IsOrdered] [bit] NULL,
	[OrderedByDate] [datetime] NULL,
	[IsRejected] [bit] NULL,
	[RejectedBy] [bigint] NULL,
	[RejectedDate] [datetime] NULL,
 CONSTRAINT [PK_MainLedger] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ModuleActions]    Script Date: 7/2/2025 11:23:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ModuleActions](
	[Id] [int] NOT NULL,
	[ActionName] [varchar](20) NULL,
	[ModuleId] [int] NULL,
 CONSTRAINT [PK_ModuleActions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modules]    Script Date: 7/2/2025 11:23:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modules](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ControllerName] [nvarchar](50) NULL,
	[ActionMethod] [nvarchar](50) NULL,
	[MenuIcon] [nvarchar](50) NULL,
	[RecordStatus] [varchar](20) NULL,
	[ModuleId] [nvarchar](50) NULL,
	[ModuleName] [nvarchar](50) NULL,
	[ModuleDescription] [nvarchar](500) NULL,
 CONSTRAINT [PK_AppModules] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partners]    Script Date: 7/2/2025 11:23:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partners](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[VATId] [nvarchar](255) NOT NULL,
	[IdNumber] [bigint] NOT NULL,
	[CompanyName] [nvarchar](255) NOT NULL,
	[IsTaxablePerson] [bit] NOT NULL,
	[FullAddress] [nvarchar](255) NOT NULL,
	[PostCode] [nvarchar](50) NOT NULL,
	[TownCity] [nvarchar](255) NOT NULL,
	[Country] [nvarchar](255) NOT NULL,
	[ContactPerson1] [nvarchar](255) NOT NULL,
	[ContactEmail1] [nvarchar](255) NOT NULL,
	[ContactPhone1] [nvarchar](255) NOT NULL,
	[ContactPerson2] [nvarchar](255) NOT NULL,
	[ContactEmail2] [nvarchar](255) NOT NULL,
	[ContactPhone2] [nvarchar](255) NOT NULL,
	[InsuranceCompany] [nvarchar](255) NOT NULL,
	[InsurancePolicyNumber] [bigint] NOT NULL,
	[ContractSigned] [bit] NOT NULL,
	[ContractDate] [date] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[ModifiedBy] [bigint] NOT NULL,
	[RecordStatus] [varchar](20) NOT NULL,
	[InsurancePolicyValidUntil] [datetime] NULL,
	[InsuranceContract] [bit] NULL,
 CONSTRAINT [PK_Partner] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskLedger]    Script Date: 7/2/2025 11:23:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskLedger](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TaskId] [bigint] NOT NULL,
	[Comment] [nvarchar](255) NOT NULL,
	[BranchId] [bigint] NOT NULL,
	[Location] [nvarchar](255) NOT NULL,
	[NecessaryTime] [time](7) NOT NULL,
	[LevelId] [bigint] NOT NULL,
	[AssignedDate] [bigint] NOT NULL,
	[TaskAssignedDate] [datetime] NOT NULL,
	[TaskFinishedDate] [datetime] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[ModifiedBy] [bigint] NOT NULL,
	[RecordStatus] [varchar](20) NOT NULL,
 CONSTRAINT [PK_TaskLedger] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskLevels]    Script Date: 7/2/2025 11:23:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskLevels](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TaskLevel] [nvarchar](255) NOT NULL,
	[UserTypeId] [bigint] NOT NULL,
 CONSTRAINT [PK_TaskLevels] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskTypes]    Script Date: 7/2/2025 11:23:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskTypes](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TaskName] [bigint] NOT NULL,
	[TaskDescription] [bigint] NOT NULL,
	[ComplexityLevel] [bigint] NOT NULL,
	[DefaultNecessaryTime] [bigint] NOT NULL,
 CONSTRAINT [PK_TaskTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserBranches]    Script Date: 7/2/2025 11:23:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserBranches](
	[Id] [bigint] NOT NULL,
	[UserId] [bigint] NULL,
	[BranchId] [bigint] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[ModifiedBy] [bigint] NULL,
	[ModifiedDate] [datetime] NULL,
	[RecordType] [varchar](20) NULL,
 CONSTRAINT [PK_UserBranches] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserModules]    Script Date: 7/2/2025 11:23:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserModules](
	[Id] [bigint] NOT NULL,
	[UserTypeId] [bigint] NOT NULL,
	[ModuleId] [int] NOT NULL,
	[ActionId] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[ModifiedBy] [bigint] NULL,
	[RecordStatus] [varchar](20) NULL,
	[UserId] [bigint] NULL,
 CONSTRAINT [PK_UserModules_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/2/2025 11:23:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](255) NOT NULL,
	[LastName] [nvarchar](255) NOT NULL,
	[UserTypeId] [bigint] NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[Password] [nvarchar](200) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[ModifiedBy] [bigint] NOT NULL,
	[RecordStatus] [varchar](20) NOT NULL,
	[UserName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTypes]    Script Date: 7/2/2025 11:23:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTypes](
	[Id] [bigint] NOT NULL,
	[UserTypeId] [bigint] NOT NULL,
	[TypeName] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[ModifiedBy] [bigint] NULL,
	[RecordStatus] [varchar](20) NULL,
 CONSTRAINT [PK_UserTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Branches] ON 

INSERT [dbo].[Branches] ([Id], [BranchCode], [BranchName], [CountryId], [Division]) VALUES (1, N'BC', N'Branch Name', 1, N'test')
SET IDENTITY_INSERT [dbo].[Branches] OFF
GO
SET IDENTITY_INSERT [dbo].[CausedBy] ON 

INSERT [dbo].[CausedBy] ([id], [Causes], [ObjektNr]) VALUES (2, N'Salary', 0)
INSERT [dbo].[CausedBy] ([id], [Causes], [ObjektNr]) VALUES (3, N'Food', 0)
SET IDENTITY_INSERT [dbo].[CausedBy] OFF
GO
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([Id], [CountryCode], [CountryName]) VALUES (1, N'AF', N'Afghanistan')
INSERT [dbo].[Countries] ([Id], [CountryCode], [CountryName]) VALUES (2, N'AX', N'Aland Islands')
INSERT [dbo].[Countries] ([Id], [CountryCode], [CountryName]) VALUES (3, N'AL', N'Albania')
GO
SET IDENTITY_INSERT [dbo].[Countries] OFF
GO
SET IDENTITY_INSERT [dbo].[Descriptions] ON 

INSERT [dbo].[Descriptions] ([id], [Description], [ObjektNr]) VALUES (1, N'PAyment is via jazzcash', 0)
SET IDENTITY_INSERT [dbo].[Descriptions] OFF
GO
INSERT [dbo].[Logs] ([Id], [LogDescription], [TargetGroup], [MainLedgerId], [LogType], [LogDateTime], [LogByUserId]) VALUES (1, N'adsfaf', 0, 25, N'Submit', CAST(N'2024-10-14T19:42:27.110' AS DateTime), 3)
INSERT [dbo].[Logs] ([Id], [LogDescription], [TargetGroup], [MainLedgerId], [LogType], [LogDateTime], [LogByUserId]) VALUES (2, N'fadfadsf', 0, 25, N'ControlCheck', CAST(N'2024-10-14T19:44:09.323' AS DateTime), 3)
INSERT [dbo].[Logs] ([Id], [LogDescription], [TargetGroup], [MainLedgerId], [LogType], [LogDateTime], [LogByUserId]) VALUES (3, N'hafddf', 0, 24, N'Approve', CAST(N'2024-10-14T19:45:31.580' AS DateTime), 3)
GO
SET IDENTITY_INSERT [dbo].[MainLedger] ON 

SET IDENTITY_INSERT [dbo].[MainLedger] OFF
GO
INSERT [dbo].[ModuleActions] ([Id], [ActionName], [ModuleId]) VALUES (1, N'Create', 2)
INSERT [dbo].[ModuleActions] ([Id], [ActionName], [ModuleId]) VALUES (2, N'Edit', 2)
INSERT [dbo].[ModuleActions] ([Id], [ActionName], [ModuleId]) VALUES (3, N'Delete', 2)
GO
SET IDENTITY_INSERT [dbo].[Modules] ON 

INSERT [dbo].[Modules] ([Id], [ControllerName], [ActionMethod], [MenuIcon], [RecordStatus], [ModuleId], [ModuleName], [ModuleDescription]) VALUES (1, N'Home', N'Index', N'fa fa-pie-chart', N'Active', N'lidashboard', N'Dashboard', N'Dashboard')
INSERT [dbo].[Modules] ([Id], [ControllerName], [ActionMethod], [MenuIcon], [RecordStatus], [ModuleId], [ModuleName], [ModuleDescription]) VALUES (2, N'Users', N'UserTypes', N'fa-user-plus', N'Active', N'liusertypes', N'UserType', N'User Types')
INSERT [dbo].[Modules] ([Id], [ControllerName], [ActionMethod], [MenuIcon], [RecordStatus], [ModuleId], [ModuleName], [ModuleDescription]) VALUES (3, N'Users', N'Index', N'fa fa-users', N'Active', N'liusers', N'Users', N'Users')
SET IDENTITY_INSERT [dbo].[Modules] OFF
GO
SET IDENTITY_INSERT [dbo].[Partners] ON 

SET IDENTITY_INSERT [dbo].[Partners] OFF
GO
INSERT [dbo].[UserBranches] ([Id], [UserId], [BranchId], [CreatedDate], [CreatedBy], [ModifiedBy], [ModifiedDate], [RecordType]) VALUES (1, 1, 1, CAST(N'2024-10-02T07:12:16.540' AS DateTime), 3, 3, CAST(N'2024-10-02T07:12:18.320' AS DateTime), N'User')
INSERT [dbo].[UserBranches] ([Id], [UserId], [BranchId], [CreatedDate], [CreatedBy], [ModifiedBy], [ModifiedDate], [RecordType]) VALUES (2, 2, 1, CAST(N'2024-10-02T07:13:30.720' AS DateTime), 3, 3, CAST(N'2024-10-02T07:13:30.720' AS DateTime), N'User')
INSERT [dbo].[UserBranches] ([Id], [UserId], [BranchId], [CreatedDate], [CreatedBy], [ModifiedBy], [ModifiedDate], [RecordType]) VALUES (3, 6, 1, CAST(N'2024-10-06T12:29:55.290' AS DateTime), 3, 3, CAST(N'2024-10-06T12:29:55.290' AS DateTime), N'Partner')
GO
INSERT [dbo].[UserModules] ([Id], [UserTypeId], [ModuleId], [ActionId], [CreatedDate], [ModifiedDate], [CreatedBy], [ModifiedBy], [RecordStatus], [UserId]) VALUES (1, 1, 1, 0, CAST(N'2025-07-02T14:07:56.193' AS DateTime), CAST(N'2025-07-02T14:07:56.193' AS DateTime), 3, 3, N'Active', NULL)
INSERT [dbo].[UserModules] ([Id], [UserTypeId], [ModuleId], [ActionId], [CreatedDate], [ModifiedDate], [CreatedBy], [ModifiedBy], [RecordStatus], [UserId]) VALUES (2, 1, 2, 0, CAST(N'2025-07-02T14:07:56.287' AS DateTime), CAST(N'2025-07-02T14:07:56.287' AS DateTime), 3, 3, N'Active', NULL)
INSERT [dbo].[UserModules] ([Id], [UserTypeId], [ModuleId], [ActionId], [CreatedDate], [ModifiedDate], [CreatedBy], [ModifiedBy], [RecordStatus], [UserId]) VALUES (3, 1, 2, 1, CAST(N'2025-07-02T14:07:56.290' AS DateTime), CAST(N'2025-07-02T14:07:56.290' AS DateTime), 3, 3, N'Active', NULL)
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [UserTypeId], [Email], [Password], [CreatedDate], [ModifiedDate], [CreatedBy], [ModifiedBy], [RecordStatus], [UserName]) VALUES (3, N'Admin t', N'Admin', 1, N'admin@gmail.com', N'123', CAST(N'2024-11-11T00:00:00.000' AS DateTime), CAST(N'2024-10-23T06:59:57.133' AS DateTime), 1, 3, N'Active', N'admin')
INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [UserTypeId], [Email], [Password], [CreatedDate], [ModifiedDate], [CreatedBy], [ModifiedBy], [RecordStatus], [UserName]) VALUES (10010, N'aqib', N'ali', 2, N'ex@gmail.com', N'123', CAST(N'2025-06-28T20:32:34.770' AS DateTime), CAST(N'2025-06-28T20:32:34.770' AS DateTime), 3, 3, N'Active', N'aqib')
INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [UserTypeId], [Email], [Password], [CreatedDate], [ModifiedDate], [CreatedBy], [ModifiedBy], [RecordStatus], [UserName]) VALUES (10011, N'Sohaib', N'Ahmad', 7, N't@gmail.com', N'123', CAST(N'2025-07-02T14:17:51.510' AS DateTime), CAST(N'2025-07-02T14:17:51.510' AS DateTime), 3, 3, N'Active', N'sohaib')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
INSERT [dbo].[UserTypes] ([Id], [UserTypeId], [TypeName], [CreatedDate], [ModifiedDate], [CreatedBy], [ModifiedBy], [RecordStatus]) VALUES (1, 1, N'Admin', CAST(N'2025-06-28T20:24:22.697' AS DateTime), CAST(N'2025-07-02T14:07:56.057' AS DateTime), 3, 3, NULL)
INSERT [dbo].[UserTypes] ([Id], [UserTypeId], [TypeName], [CreatedDate], [ModifiedDate], [CreatedBy], [ModifiedBy], [RecordStatus]) VALUES (2, 2, N'LL (Head of logistics)', CAST(N'2025-06-28T20:24:30.060' AS DateTime), CAST(N'2025-06-28T20:35:33.700' AS DateTime), 3, 3, NULL)
INSERT [dbo].[UserTypes] ([Id], [UserTypeId], [TypeName], [CreatedDate], [ModifiedDate], [CreatedBy], [ModifiedBy], [RecordStatus]) VALUES (3, 3, N'VTL (Head of distribution)', CAST(N'2025-06-28T20:36:05.150' AS DateTime), CAST(N'2025-06-28T20:36:05.150' AS DateTime), 10010, 10010, NULL)
GO
ALTER TABLE [dbo].[MainLedger] ADD  CONSTRAINT [DF_MainLedger_ModifiedBy]  DEFAULT ((0)) FOR [ModifiedBy]
GO
/****** Object:  StoredProcedure [dbo].[SpGetAllPaymentRequests]    Script Date: 7/2/2025 11:23:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- exec [dbo].[SpGetAllPaymentRequests]
CREATE PROCEDURE [dbo].[SpGetAllPaymentRequests]
	@PageIndex as int = 1,
	@PageSize as int = 10,
	@SortColumn nvarchar(20) = Null, 
	@SortOrder  nvarchar(20) = Null,
	@SearchText nvarchar(50) = Null,
	@RecordStatus nvarchar(50) = Null,
	@SubmittedById int=0,
	@ControlCheckById int=0,
	@ApprovedById int=0,
	@PaymentType nvarchar(20)=null,
	@PartnerId int=0,
	@InvoiceNumber nvarchar(200)=null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	declare @Start int = 0	
	declare @End int = 0	
	set @Start = (@PageIndex - 1) * @pageSize + 1;
	set @End = @PageIndex * @pageSize;



			Select * from(
		select distinct B.* ,
				ROW_NUMBER() OVER (ORDER BY 
					 CASE WHEN (@SortColumn = 'ContractNumber' AND @SortOrder = 'asc') THEN B.ContractNumber END ASC,
					 CASE WHEN (@SortColumn = 'ContractNumber' AND @SortOrder = 'desc') THEN  B.ContractNumber END DESC
					) as RowIndex,
				 COUNT(B.Id) OVER (PARTITION BY -1) AS TotalRecords,
				 CAST(Sum(CASE WHEN B.PaymentType = 'Expense' THEN B.Amount ELSE 0 END) OVER (PARTITION BY -1) AS DECIMAL) AS TotalExpense,
				 CAST(Sum(CASE WHEN B.PaymentType = 'Income' THEN B.Amount ELSE 0 END) OVER (PARTITION BY -1) AS DECIMAL) AS TotalIncome,
				 CEILING(CAST(COUNT(B.Id) OVER (PARTITION BY -1) AS DECIMAL) / CAST( @PageSize  AS DECIMAL) ) AS TotalPages,
				 @Start   as Start, 
				 @End AS  [End]
				  from (
						
							SELECT main.[Id]
								  ,[ContractNumber]
								  ,[PartnerId]
								  ,[UserId]
								  ,[BranchId]
								  ,[CausedById]
								  ,[Comment]
								  ,convert(varchar, EntryDate, 104) as EntryDate
								  ,convert(varchar, CostIncuredDate, 104) as CostIncuredDate
								  ,[InvoiceNumber]
								  ,[Amount]
								  ,[OrderedById]
								  ,convert(varchar, OrderedByDate, 104) as OrderedByDate
								  ,IsOrdered
								  ,[IsSubmitted]
								  ,[SubmittedBy]
								  ,convert(varchar, SubmittedDate, 104) as SubmittedDate
								  ,[IsControlCheck]
								  ,[ControlCheckBy]
								  ,convert(varchar, ControlCheckDate, 104) as ControlCheckDate
								  ,IsApproved
								  ,[PaymentApprovalBy]
								  ,convert(varchar, PaymentApprovalDate, 104) as PaymentApprovalDate
								  ,[PaymentType]
								  ,main.[CreatedDate]
								  ,main.[ModifiedDate]
								  ,main.[CreatedBy]
								  ,main.[ModifiedBy]
								  ,main.[RecordStatus]
								  ,p.CompanyName
								  ,(subby.FirstName +' '+subby.LastName) as SubmittedByName
								  ,(orderby.FirstName +' '+orderby.LastName) as OrderedByName
								  ,(checkby.FirstName +' '+checkby.LastName) as ControlCheckByName
								  ,(approveby.FirstName +' '+approveby.LastName) as ApprovedByName
								  ,causeby.Causes 
								  ,branch.BranchCode
								  ,branch.BranchName
								  ,(u.FirstName +' '+u.LastName) as UserName
								  ,CAST(0 AS BIT) as IsChecked
								  ,main.DescriptionId
								  ,main.IsRejected
							  FROM [dbo].[MainLedger] main
							  left join Partners p on p.Id=main.PartnerId
							  left join Users u on u.Id=main.UserId
							  left join Users svby on svby.Id=main.CreatedBy
							  left join Users subby on subby.Id=main.SubmittedBy
							  left join Users checkby on checkby.Id=main.ControlCheckBy
							  left join Users orderby on orderby.Id=main.OrderedById
							  left join Users approveby on approveby.Id=main.PaymentApprovalBy
							  left join Branches branch on branch.Id=main.BranchId
							  left join CausedBy causeby on causeby.id=main.CausedById
							  where 
							  (@RecordStatus is null OR main.RecordStatus=@RecordStatus)
							  and (@SubmittedById=0 OR main.SubmittedBy=@SubmittedById)
							  and (@ControlCheckById=0 OR main.ControlCheckBy=@ControlCheckById)
							  and (@ApprovedById=0 OR main.PaymentApprovalBy=@ApprovedById)
							  and (@PartnerId=0 OR main.PartnerId=@PartnerId)
							  and (@PaymentType is null OR main.PaymentType=@PaymentType)
							  and (@InvoiceNumber is null OR main.InvoiceNumber like '%'+@InvoiceNumber+'%' )
							  and main.RecordStatus!='Deleted'

					  ) 
			as B 
		)
	as U  WHERE RowIndex between @Start AND @End 
	

END
GO
/****** Object:  StoredProcedure [dbo].[SpGetCompareGraph]    Script Date: 7/2/2025 11:23:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SpGetCompareGraph]
    @Year INT,
    @Month INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Ensure valid month input
    IF @Month < 1 OR @Month > 12
    BEGIN
        RAISERROR('Month must be between 1 and 12.', 16, 1);
        RETURN;
    END

    -- Calculate start and end dates based on year and month
    DECLARE @StartDate DATE = DATEFROMPARTS(@Year, @Month, 1);
    DECLARE @EndDate DATE = EOMONTH(@StartDate);  -- Get the last day of the month

    SELECT 
     ( CASE WHEN B.PaymentType = 'Expense' THEN B.Amount ELSE 0 END) as Expense
	 ,( CASE WHEN B.PaymentType = 'Expense' THEN B.Amount ELSE 0 END) as Income
	,convert(varchar, B.CreatedDate, 104) as Labels
    FROM [dbo].[MainLedger] B
    WHERE B.EntryDate BETWEEN @StartDate AND @EndDate;  -- Filtering based on date range
END;
GO
/****** Object:  StoredProcedure [dbo].[SpGetDescription]    Script Date: 7/2/2025 11:23:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SpGetDescription]
    @PaymentId INT = 0
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        main.[Id],
		main.[LogDescription],
		main.[MainLedgerId],
        main.[LogType],
		CONVERT(VARCHAR, LogDateTime, 101) AS LogDateTime,
		 (u.FirstName + ' ' + u.LastName) AS UserName
		
    FROM 
        [dbo].[Logs] main
      
        LEFT JOIN Users u ON u.Id = main.LogByUserId
       
    WHERE 
        ( main.MainLedgerId = @PaymentId);
END;
GO
/****** Object:  StoredProcedure [dbo].[SpGetOnePayment]    Script Date: 7/2/2025 11:23:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SpGetOnePayment]
    @PaymentId INT = 0
AS
BEGIN
    SET NOCOUNT ON;
SELECT main.[Id]
								  ,[ContractNumber]
								 
								  ,[Comment]
								  ,convert(varchar, EntryDate, 101) as EntryDate
								  ,convert(varchar, CostIncuredDate, 101) as CostIncuredDate
								  ,[InvoiceNumber]
								  ,[Amount]
							
								  ,convert(varchar, OrderedByDate, 101) as OrderedByDate
								  ,IsOrdered
								  ,[IsSubmitted]
					
								  ,convert(varchar, SubmittedDate, 101) as SubmittedDate
								  ,[IsControlCheck]
					
								  ,convert(varchar, ControlCheckDate, 101) as ControlCheckDate
								  ,IsApproved
					
								  ,convert(varchar, PaymentApprovalDate, 101) as PaymentApprovalDate
								  ,[PaymentType]
								  ,main.[CreatedDate]
								  ,main.[ModifiedDate]
								  ,main.[CreatedBy]
							
								  ,main.[RecordStatus]
								  ,p.CompanyName
								  ,(subby.FirstName +' '+subby.LastName) as SubmittedByName
								  ,(orderby.FirstName +' '+orderby.LastName) as OrderedByName
								  ,(checkby.FirstName +' '+checkby.LastName) as ControlCheckByName
								  ,(approveby.FirstName +' '+approveby.LastName) as ApprovedByName
								  ,causeby.Causes 
								  ,descript.[Description] 
								  ,branch.BranchCode
								  ,branch.BranchName
								  ,(u.FirstName +' '+u.LastName) as UserName
							
							  FROM [dbo].[MainLedger] main
							  left join Partners p on p.Id=main.PartnerId
							  left join Users u on u.Id=main.UserId
							  left join Users subby on subby.Id=main.SubmittedBy
							  left join Users checkby on checkby.Id=main.ControlCheckBy
							  left join Users orderby on orderby.Id=main.OrderedById
							  left join Users approveby on approveby.Id=main.PaymentApprovalBy
							  left join Branches branch on branch.Id=main.BranchId
							  left join CausedBy causeby on causeby.id=main.CausedById
							  left join Descriptions descript on descript.id=main.DescriptionId
							
    WHERE 
        (main.Id = @PaymentId);
END;
GO
/****** Object:  StoredProcedure [dbo].[SpGetPaymentSummary]    Script Date: 7/2/2025 11:23:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SpGetPaymentSummary]
    @Year INT,
    @Month INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Ensure valid month input
    IF @Month < 1 OR @Month > 12
    BEGIN
        RAISERROR('Month must be between 1 and 12.', 16, 1);
        RETURN;
    END

    -- Calculate start and end dates based on year and month
    DECLARE @StartDate DATE = DATEFROMPARTS(@Year, @Month, 1);
    DECLARE @EndDate DATE = EOMONTH(@StartDate);  -- Get the last day of the month

    SELECT 
        COUNT(B.Id) AS TotalRecords,
        CAST(SUM(CASE WHEN B.PaymentType = 'Expense' AND B.IsSubmitted = 1 THEN B.Amount ELSE 0 END) AS DECIMAL) AS TotalSubmittedExpense,
        CAST(SUM(CASE WHEN B.PaymentType = 'Income' AND B.IsSubmitted = 1 THEN B.Amount ELSE 0 END) AS DECIMAL) AS TotalSubmittedIncome,
        COUNT(CASE WHEN B.IsSubmitted = 1 THEN 1 END) AS TotalSubmittedCount,
        
        CAST(SUM(CASE WHEN B.PaymentType = 'Expense' AND B.IsControlCheck = 1 THEN B.Amount ELSE 0 END) AS DECIMAL) AS TotalControlCheckedExpense,
        CAST(SUM(CASE WHEN B.PaymentType = 'Income' AND B.IsControlCheck = 1 THEN B.Amount ELSE 0 END) AS DECIMAL) AS TotalControlCheckedIncome,
        COUNT(CASE WHEN B.IsControlCheck = 1 THEN 1 END) AS TotalControlCheckedCount,
        
        CAST(SUM(CASE WHEN B.PaymentType = 'Expense' AND B.IsOrdered = 1 THEN B.Amount ELSE 0 END) AS DECIMAL) AS TotalOrderedExpense,
        CAST(SUM(CASE WHEN B.PaymentType = 'Income' AND B.IsOrdered = 1 THEN B.Amount ELSE 0 END) AS DECIMAL) AS TotalOrderedIncome,
        COUNT(CASE WHEN B.IsOrdered = 1 THEN 1 END) AS TotalOrderedCount,
        
        CAST(SUM(CASE WHEN B.PaymentType = 'Expense' AND B.IsApproved = 1 THEN B.Amount ELSE 0 END) AS DECIMAL) AS TotalApprovedExpense,
        CAST(SUM(CASE WHEN B.PaymentType = 'Income' AND B.IsApproved = 1 THEN B.Amount ELSE 0 END) AS DECIMAL) AS TotalApprovedIncome,
        COUNT(CASE WHEN B.IsApproved = 1 THEN 1 END) AS TotalApprovedCount
    FROM [dbo].[MainLedger] B
    WHERE B.EntryDate BETWEEN @StartDate AND @EndDate;  -- Filtering based on date range
END;
GO
USE [master]
GO
