<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.web>
      <httpRuntime enableVersionHeader="false" />
    </system.web>
    <system.webServer>
      <directoryBrowse enabled="false" />
      <httpErrors existingResponse="PassThrough" />
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="false" stdoutLogFile="\\?\%home%\LogFiles\stdout" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44365" />
          <environmentVariable name="COMPLUS_ForceENC" value="1" />
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Staging" />
          <environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="Microsoft.AspNetCore.Watch.BrowserRefresh;Microsoft.WebTools.BrowserLink.Net" />
          <environmentVariable name="DOTNET_STARTUP_HOOKS" value="c:\program files\microsoft visual studio\2022\enterprise\common7\ide\extensions\microsoft\web tools\projectsystem\Microsoft.AspNetCore.Watch.BrowserRefresh.dll;C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\IDE\Extensions\Microsoft\Web Tools\Browser Link\Microsoft.WebTools.BrowserLink.Net.dll" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_ENDPOINT" value="wss://localhost:44341/RACAS/,ws://localhost:60567/RACAS/" />
          <environmentVariable name="DOTNET_MODIFIABLE_ASSEMBLIES" value="debug" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAnu7R66jQNmCdIg+Cm0TIGIvBO2bb403mb3uQ4m/WCIjg5ZYAEwfjlYDq45hgl421ifQ4r3ZVKnCvMQ9hKGzfmuNB0/TGqLU1FE/1/RrpXH6N16YWSNh+41DvVWtOgHaUegRgcPGjMl2w0q6/SLgNo9rriy81pWX2TcLiJT+LPKt7/+APi04k/ONzONH82cv8XVcNUoLYUYMvcRO+J1bCLZmBl1Z+4amMpY8PKtDKoASSWPS6lC5CvpKvVuBk2OpwFnDlgoYUABFoWiPC19bvac1G8wrQ3nePZs9fJ0TnU4CQDJ3Qqu0R0EXQMZXKtkSV/sSGtxsFCMU+sZ7n8eUPZQIDAQAB" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_VDIR" value="/" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: e3da9967-a4e2-4ec5-8c83-02638d78b1ee-->